/* ---------- Overall Specifications ---------- */

/* General style */

.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable { list-style-type: none; margin: 0; padding: 0; }
#controls {float: left;}
#users {font-size: smaller;}
#time {width: 7em;}
/*.selectable li { margin: 3px; padding: 0.4em; }*/
#source-button {text-align: right;}
#viz {float: right;}

/* For display the logs after loading */
#software-title-header {
	background-color: #343434;
	color: white;
}
#software-title-header a {
	color: white;
}
#software-title {
	display: inline-block;
	font-weight:bold; 
}

#software-subtile {
	display: inline-block;
	margin-left : 3px;
	font-style:italic
}

#software-title-header {
	padding : 5px;
	margin-bottom: 1em;
}

td.selectorCell
{
       border:1px solid   
}

.logstable
    {
        width:auto;        
    }

.logsrow-question
{
       width:auto;
 	   color: #FF0000;
}
    
.logsrow-message
{
   width:auto;
}

.logsrow-notice
{
   width:auto;
   color: #C0C0C0;
   font-style:italic
}

.logscolumn
{
   /* float:left;/*fix for  buggy browsers*/
   width:auto;
}

.logs-type-cell
{
   /* float:left;/*fix for  buggy browsers*/
   width:20px;
   background-color:#ccc;
   text-align:center;
}

#panel-scroll
{
  height:200px; 
  overflow:scroll; 
  overflow-x:hidden; 
  border:1px solid
}

.time_nick_quit
{
	display: inline-block; 
	color: #33FFCC;
	margin-left:2px;
	margin-right:2px;
}

.time_nick_join
{
	display: inline-block; 
	color: #C0C0C0;
	margin-left:2px;
	margin-right:2px;
}

.time_nick_message
{
	display: inline-block; 
	color: #FF0000;
	margin-left:2px;
	margin-right:2px;
}

#time_nick_table table {
	border-collapse: collapse !important;
	border: thin solid #898989;
}

#time_nick_table td {
	 border: none;
	 border-spacing : 0;
}

#time_nick_table thead {
	 text-align:center; font-weight: bold;
	 background-color: #ffd;
}

#time_nick_table td {
	min-width: 2em;
}

#time_nick_table tbody td {
	border-top: thin solid #898989;
}

#time_nick_table td {
	border-right: thin dotted #cdcdcd;
}

#restrict-panel table {
	border-collapse: collapse !important;
	border: none;	
}
#restrict-panel td:nth-child(odd) {
	background-color: #efffef;
}
#restrict-panel td:nth-child(even) {
	background-color: #efefff;
}
#restrict-panel td {
	padding-left: 3px; padding-right: 3px;
}
